body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  background-color:whitesmoke;
}

h2 {
  color: #a81d81;
  font-size: 50px;
   margin-bottom: 40px;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;

}

.team-member {
  background: #4f4f4c;

  border-radius: 20px;
  padding: 20px;
  width: 300px;
  text-align: center;

}

.team-lead {
  background: #ffe30f;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;

}

/* .team-member:hover {
 
  box-shadow: 0 12px 20px rgba(104, 19, 19, 0.2);
} */

.team-member img {
  width: 200px;
  height: 200px;
  border-radius: 500%;
  object-fit: cover;
  margin-bottom: 10%;
  border: 3px solid #4fa1c2;
}

.team-member h3 {
  margin: 10px 0 5px;
  font-size: 25px;
  font-weight: bold;
  color: #12b6f1;
}

.team-member p {
  margin: 0;
  color: #fefefe;
  font-size: 14px;
}

a.PortFolio_Link {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 14px;
  background-color: #d3e6ec;
  color: #5507e4;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

a.PortFolio_Link:hover {
  background-color: #df7362;
}
.nav{
  text-align: center;
}